# Spark DataFrame Basics

**Imports**

In [14]:
import findspark
findspark.init('/home/sedat/spark-3.3.2-bin-hadoop3')
from pyspark.sql import SparkSession
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

**SparkSession Builder**

In [15]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
spark

**Creating dataframe adn show it**

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

**Print the dataframe schema**

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

**Get column names as a list**

In [7]:
df.columns

['age', 'name']

In [8]:
type(df.columns)

list

**Describe method**

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [16]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

**Creating new data schema**

In [11]:
data_schema = [StructField('age', IntegerType(), nullable=True),
              StructField('name', StringType(), nullable=True)]

**Creating new data structure**

In [12]:
final_struc = StructType(fields=data_schema)

**Assign new data structure to dataframe**

In [17]:
df = spark.read.json('people.json', schema=final_struc)

In [18]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

**Select column objects**

In [19]:
df['age']

Column<'age'>

In [21]:
type(df['age'])

pyspark.sql.column.Column

In [22]:
df.select('age')

DataFrame[age: int]

In [24]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [23]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [26]:
df.select('age').describe().show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|                 2|
|   mean|              24.5|
| stddev|7.7781745930520225|
|    min|                19|
|    max|                30|
+-------+------------------+

In [34]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

**Head and tail of dataframe**

In [28]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [35]:
df.tail(1)

[Row(age=19, name='Justin')]

In [29]:
type(df.head(2))

list

**Creating new column**

In [36]:
df.withColumn('newage', df['age']+5).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    35|
|  19| Justin|    24|
+----+-------+------+

**Rename column name**

In [38]:
df.withColumnRenamed('age', 'old_age').show()

+-------+-------+
|old_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

**Create a temp view**

In [39]:
df.createOrReplaceTempView('people')

In [40]:
result = spark.sql('SELECT * FROM people')

In [41]:
result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [43]:
age_30 = spark.sql('SELECT * FROM people WHERE age=30')

In [44]:
age_30.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+